<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Brand Management</title>
    <link rel="stylesheet" th:href="@{/css/admin-navbar.css}">
    <link rel="stylesheet" th:href="@{/css/admin-sidebar.css}">
    <link rel="stylesheet" th:href="@{/css/admin-brand.css}">


    <link th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css}"
          rel="stylesheet">

</head>
<body style="background-color:#f1f3f6;">


<div th:replace="~{fragments/admin-navbar :: adminNavbar}"></div>

<div th:replace="~{fragments/admin-sidebar :: adminSidebar}"></div>


<div class="d-flex justify-content-between">

    <div class="page-header">
        <h4>Brands</h4>
    </div>

    <button class="addButton " data-bs-toggle="modal" data-bs-target="#addBrandModal">
        Add Brand
    </button>

</div>

<!--pageable-->
<div class="brand-table  justify-content-between">
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>

            <th>Name</th>

            <th>Status</th>

            <th>Actions</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="brand : ${brands}">
            <td th:text="${brand.id}"></td>
            <td th:text="${brand.name}"></td>
            <td th:text="${brand.isActive} ? 'Active' : 'Blocked'"></td>


            <td>
                <!-- Edit (opens edit modal) -->
                <img th:src="@{/icons/edit.png}"
                     alt="Edit"
                     style="width:25px; height:25px; cursor:pointer;"
                     data-bs-toggle="modal"
                     data-bs-target="#editBrandModal"
                     th:attr="data-id=${brand.id},data-name=${brand.name}, data-status=${brand.isActive ? 'true' : 'false'}">

                <!-- Delete (opens delete modal) -->
                <img th:src="@{/icons/bin.png}"
                     alt="Delete"
                     style="width:25px; height:25px; cursor:pointer; margin-left:10px;"
                     data-bs-toggle="modal"
                     data-bs-target="#deleteBrandModal"
                     th:attr="data-id=${brand.id},data-name=${brand.name}">
            </td>
        </tr>
        </tbody>
    </table>

    <nav aria-label="Page navigation" class="mt-2">
        <ul class="pagination justify-content-center">

            <!-- Previous Button -->
            <li class="page-item" th:classappend="${currentPage == 0} ? ' disabled'">
                <a class="page-link"
                   th:href="@{/admin/brands(
                    page=${currentPage - 1},
                    size=5,
                    sortField=${sortField},
                    sortDir=${sortDir}
               )}"> < </a>
            </li>

            <!-- Page Numbers -->
            <li class="page-item"
                th:each="i : ${#numbers.sequence(0, totalPage - 1)}"
                th:classappend="${i == currentPage} ? ' active'">
                <a class="page-link"
                   th:text="${i + 1}"
                   th:href="@{/admin/brands(
                    page=${i},
                    size=5,
                    sortField=${sortField},
                    sortDir=${sortDir}
               )}"></a>
            </li>

            <!-- Next Button -->
            <li class="page-item" th:classappend="${currentPage == totalPage - 1} ? ' disabled'">
                <a class="page-link"
                   th:href="@{/admin/brands(
                    page=${currentPage + 1},
                    size=5,
                    sortField=${sortField},
                    sortDir=${sortDir}
               )}"> > </a>
            </li>

        </ul>
    </nav>
</div>
<!--pageable-->


<!-- Add Modal -->
<div class="modal fade" id="addBrandModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">Add Brand</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>


            <form th:action="@{/admin/brands/new}" th:object="${brandDTO}" method="post">

                <div class="modal-body">

                    <select name="categoryId" class="form-select" required>
                        <option value="">Select Category</option>

                        <option th:each="category : ${categories}"
                                th:value="${category.id}"
                                th:text="${category.name}">
                        </option>
                    </select>


                    <div class="mb-3">
                        <label>Brand Name</label>
                        <input type="text" name="name" class="form-control" required>
                    </div>


                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Save</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </div>

            </form>

        </div>
    </div>
</div>
<!--Add modal end-->

<!--Edit Brand modal start-->
<div class="modal fade" id="editBrandModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal header -->
            <div class="modal-header">
                <h5 class="modal-title">Edit Brand <span id="editBrandName"></span></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <form th:action="@{/admin/brand/edit/__id__}" method="post" id="editBrandForm">
                <div class="modal-body">

                    <div class="mb-3">
                        <label>Brand Name</label>
                        <input type="text" name="name" class="form-control" id="editBrandNameInput">
                    </div>

                    <div class="mb-3 form-check">
                        <!-- Hidden input that will hold the actual value to be submitted -->
                        <input type="hidden" name="active" id="editBrandStatusHidden" value="false">
                        <input type="checkbox" class="form-check-input" id="editBrandStatusInput">
                        <label class="form-check-label" for="editBrandStatusInput">Active</label>
                    </div>

                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Save Changes</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </div>

            </form>

        </div>
    </div>
</div>
<!--Edit Brand modal end-->

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous">
</script>

<script th:src="@{/js/admin-brand.js}"></script>

</body>
</html>