<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <title>ToMobs</title>
</head>
<body>

<nav class="navbar navbar-dark bg-dark">

    <div class="container-fluid d-flex align-items-center">
        <a class="navbar-brand" href="index.html">ToMobs</a>

        <form class="d-flex align-items-center flex-grow-1 mx-3">
            <input class="form-control" type="search" placeholder="What are you looking  for?">
        </form>

        <div class="d-flex align-items-center" style="gap:20px;">

            <a href="#" class="text-white fs-5">
                <img src="icons/trolley.png" class="img-fluid" alt="Responsive Image">
            </a>
            <a href="#" class="text-white fs-5">
                <i class="bi bi-cart3"></i>
            </a>

        </div>

        <div>

        </div>
    </div>



</nav>

</body>
</html>