<nav th:fragment="navbar" class="navbar fixed-top"
     xmlns:th="http://www.w3.org/1999/xhtml">

    <div class="container">

        <!-- Brand -->
        <a class="navbar-brand text-white fw-bold" th:href="@{/}">ToMobs</a>

        <!-- Search Bar -->
        <form class="d-flex mx-auto" style="width: 60%;">
            <div class="input-group">

                <input class="form-control" type="search"
                       placeholder="what are you looking for...">

                <span class="input-group-text bg-white">
                    <img th:src="@{/icons/search.png}" width="18" alt="search">
                </span>

            </div>
        </form>

        <!-- Profile + Cart -->
        <div class="d-flex align-items-center gap-4">

            <!-- Profile Menu Wrapper -->
            <div class="profile-menu">

                <!-- Profile Icon -->
                <img th:src="@{/icons/profile.svg}"
                     class="white-icon profile-icon"
                     width="40"
                     alt="profile">

                <!-- Profile Dropdown -->
                <div class="profile-dropdown">

                    <a th:href="@{/#}">My Profile</a>
                    <a th:href="@{/#}">My Address</a>
                    <a th:href="@{/#}">My Wishlist</a>
                    <a th:href="@{/login}">Login</a>
                    <a th:href="@{/signup}">Signup</a>
                    <a th:href="@{/logout}">Logout</a>

                </div>
            </div>


            <a th:href="@{/}" class="text-white">
                <img th:src="@{/icons/trolley.png}"
                     class="white-icon" width="40" alt="cart">
            </a>

        </div>

    </div>
</nav>
