.btn {
    margin-inline-start: 900px;
    margin-top: 40px;
    background-color: #000; !important
    border: none; !important
    cursor-pointer;
}

.btn:hover {
    background-color: #002
}

.brand-table{

    background-color: #fff;
    color: #000;
    width: 70%;
    margin-left: 300px;
}