.addButton {
    background-color: #000;
    color: #fff;
    border-radius: 20px;
    border: none;
    height: 50px;
    width: 15%;
    margin-top: 150px;
    margin-bottom: 20px;
    margin-right: 100px;
}

.addButton:hover {
    color: #000;
    border: 2px solid;
    background-color: #E4E4E4;
}

.page-header {
    margin-top: 150px;
    margin-inline-start: 300px;
}

.brand-table{

    background-color: #fff;
    color: #000;
    width: 70%;
    margin-left: 300px;
}