@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

body {
    background-color: #f9f9f9;
    font-family: "Poppins", sans-serif;
}
h2{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

.cart-container {
    margin-top: 100px;
}

.empty-cart-card {
    width: 150%;
    box-shadow:  0 6px 20px rgba(0,0,0,0.22);
    background-color: #ffffff;
    border-radius: 10px;

}
.empty-state-img {
    width: 150px;
    opacity: 0.8;
}

.empty-state-btn {
    background-color: #000;
    color: #ffffff;
    border-radius: 8px;
    text-decoration: none;
    padding: 10px 24px;
    font-weight: 500;
    font-size: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.10);
    transition: 0.3s ease;
}

.empty-state-btn:hover {
    background-color: #111111;
    color: #ffffff;
    transform: translateY(-3px);
}

.cart-card {
    background: #fff;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    margin-bottom: 20px;
}

.cart-item img {
    width: 90px;
}

.price {
    font-weight: 600;
    font-size: 18px;
}

.old-price {
    text-decoration: line-through;
    color: #888;
    font-size: 14px;
}

.discount {
    color: green;
    font-size: 14px;
    font-weight: 500;
}

.qty-btn {
    border-radius: 20px;
    padding: 4px 12px;
    border: 1px solid #000;
    background: #fff;
    font-weight: 600;
}

.remove-btn {
    border-radius: 20px;
    padding: 4px 12px;
    background: #000;
    color: #fff;
    border: none;
    font-size: 14px;
}

.summary-card {
    position: sticky;
    top: 150px;
    background: #fff;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

.checkout-btn {
    background: #000;
    color: #fff;
    width: 100%;
    border-radius: 25px;
    padding: 10px;
    border: none;
    font-size: 16px;
}

.save-text {
    color: green;
    font-size: 13px;
    margin-top: 8px;
}