.order-success-card {
    background-color: #fff;
    border-radius: 15px;
    padding: 40px 30px;
    max-width: 600px;
    width: 100%;
    border: 2px solid black;
    margin-block: 70px;
}

.order-success-img {
    max-width: 250px;
    width: 100%;
}
