<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ToMobs</title>

    <link rel="stylesheet" th:href="@{/css/navbar.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">

    <link rel="stylesheet" th:href="@{/css/index.css}">


    <link th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css}"
          rel="stylesheet">
</head>

<body style="background-color:#E4E4E4;">


<div th:insert="~{fragments/navbar :: navbar}"></div>

<div class="hero container-fluid d-flex align-items-center justify-content-between ">

    <div class="hero-content ms-5 gap-2">
        <h2>Discover Most <br> Affordable <br> Smart phones</h2>

        <p class="hero-text">
            Find the best,reliable and affordable smartphones.
            We focus on the product quality.
            Just order now!
        </p>

        <a th:href="@{/products}" class="btn btn-dark">Shop now</a>
    </div>

    <div class="hero-image me-5">
        <img th:src="@{/images/Phone-img-1.jpg}" alt="phone-img">
    </div>

</div>

<div class="text-center mt-4"><h5>Pick Your Favorite Brand</h5></div>

<div class="d-flex m-4  align-items-center justify-content-between" style="height: 100px; ">

    <button class="btn "> < </button>
    <button class="brandButton btn bg-white text-dark">Apple</button>
    <button class="brandButton btn bg-white text-dark">Motorola</button>
    <button class="brandButton btn bg-white text-dark">Samsung</button>
    <button class="brandButton btn bg-white text-dark">Lenovo</button>
    <button class="brandButton btn bg-white text-dark">Dell</button>
    <button class="btn "> > </button>


</div>

<div th:insert="~{fragments/footer :: footer}"></div>

</body>
</html>
