<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verify OTP - ToMobs</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

    <link rel="stylesheet" th:href="@{/css/otp-verification.css}">
</head>
<body>

<main class="content-wrapper">
    <div class="verification-container">
        <h1 class="title">Enter verification code</h1>

        <p class="description">
            For your security, we have sent the code to your email
            <span class="email-highlight" th:text="${email}"></span>
        </p>

        <form th:action="@{/verify-otp}" method="post" id="otp-form">
            <input type="hidden" name="email" th:value="${email}"/>
            <input type="hidden" name="otp" id="final-otp"/>
            <input type="hidden" name="flow" th:value="${flow}"/>

            <label class="input-label">Enter your OTP here</label>

            <div class="otp-input-group">
                <input type="text" class="otp-field" maxlength="1" pattern="\d*" inputmode="numeric">
                <input type="text" class="otp-field" maxlength="1" pattern="\d*" inputmode="numeric">
                <input type="text" class="otp-field" maxlength="1" pattern="\d*" inputmode="numeric">
                <input type="text" class="otp-field" maxlength="1" pattern="\d*" inputmode="numeric">
                <input type="text" class="otp-field" maxlength="1" pattern="\d*" inputmode="numeric">
                <input type="text" class="otp-field" maxlength="1" pattern="\d*" inputmode="numeric">
            </div>
            <div id="otpError" class="text-danger small mt-2 mb-3 d-none">
                <i class="bi bi-exclamation-circle"></i> Please enter the full 6-digit code.
            </div>
            <p class="expiry-text">
                The OTP will expire in <span id="timer">02:00</span>
            </p>

            <a th:href="@{/resend-otp(email=${email})}" id="resend-btn" class="resend-link disabled">Resend OTP</a>

            <p th:if="${otpError}" th:text="${otpError}" class="error-msg"></p>

            <button type="submit" class="submit-btn">Submit</button>
        </form>
    </div>
</main>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script th:src="@{/js/toast.js}"></script>
<script th:src="@{/js/otp-verification.js}"></script>
</body>
</html>