<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Assistance - ToMobs</title>
    <link rel="stylesheet" th:href="@{/css/reset-password.css}">
    <link href="https://fonts.googleapis.com/css2?family=Michroma&family=Inter:wght@400;500;600&display=swap" rel="stylesheet">
</head>
<body>
<div class="page-wrapper">

    <div class="assistance-card">

        <h1>Create New Password</h1>

        <p class="description">
            We'll ask for this password whenever you log in.
        </p>

        <form class="assistance-form" th:action="@{#}" method="post">
            <div class="input-group">
                <label for="password">New Password</label>
                <div class="input-container">
                    <img th:src="@{/icons/padlock.png}" alt="lock icon" class="field-icon">
                    <input type="password" id="password" name="password" placeholder="Enter your password" required>
                </div>
            </div>
            <div class="input-group">
                <label for="confirm-password">New Password</label>
                <div class="input-container">
                    <img th:src="@{/icons/padlock.png}" alt="lock icon" class="field-icon">
                    <input type="password" id="confirm-password" name="confirm-password" placeholder="Enter your password again" required>
                </div>
            </div>

            <button type="submit" class="submit-btn">Save Changes</button>
        </form>

        <div th:if="${error}" style="color: red; margin-top: 10px; text-align: center;">
            <p th:text="${error}"></p>
        </div>
    </div>
</div>

</body>
</html>